
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(Asest/img/bg.jpg);
    height: 80vh;
    position: relative;
    background-position:  center center;
    background-repeat:  no-repeat;
    background-size: 100vw;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position:absolute;
    top: 0;
}
nav{
    max-width: 60vw; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}
nav img{
    width: 113px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
    height: 29px;
    width: 67px;
}
.hero{
     font-family: "Martel Sans", sans-serif;
    height:calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* their should no any colume */
    color: aliceblue;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 0 30px ;
}
.hero> :nth-child(1){ /*   > is use for the imidiate 1st child not apply in input and button */
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 700;
    font-size: 24px ;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-style: 20px;
    text-align: center;
}
.sapration{
    
    height: 11px;
    background-color: gray;
}
.btn{
    padding: 7px;
    font-weight: bold;
    background-color: aliceblue;
    cursor: pointer;
}
.btn-red{
    background-color: red;
}
.btn-red-sm{
    background-color: red;
}
.main input{
    background-color: rgb(23,23,23,0.7);
    padding: 14px;
    border: 1px solid white;
    
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 1037px) {
     .first{
        flex-wrap: wrap;
    }

}
.secimg img{
    height: 272px;
    position: relative;
    top: 14px;
    right: -64px;
    padding: 23px;
}
section.first>div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;

}
section.first > div :nth-child(2){
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
     
}
.faqbox:hover{
    background-color: gray
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: rgb(46, 44, 44);
    padding: 14px;
    max-width: 80vw; /*this help for box width */
    margin:  34px  auto;     /*this for center the box*/
    cursor: pointer;
}
footer{
    
    color: white;
    max-width: 50vw;
    margin: auto;
    padding: 34px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
   
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.footer a{
    text-decoration: none;
    color: white;
}
footer .question{
    padding: 24px 0;/*  padding form top and side */
}
@media screen and (max-width: 1037px) {
     .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }}